<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo"></div>
      <div class="header__links">
        <div class="login__btn btn btn-light">Log In</div>
        <div class="signup__btn btn btn-dark">Sign Up</div>
      </div>
    </div>
  </div>
</header>